<!DOCTYPE HTML>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!--[if lte IE 8]><script src="/assets/css/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/fonts/fonts.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie/v9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie/v8.css" /><![endif]-->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="stylesheet" href="/assets/css/style.css" />        
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="{{page_style}}">
        <!-- Header -->
        <div id="header">
            <div>
                <h1><a href="/" class="logo">VestU</a>
                    {{#each breadcrumbs}}
                    <span class="breadcrumb">{{{this}}}</span>
                    {{/each}}
                </h1>
                <ul class="actions">
                {{#if email}}
                    <li><a id="menu-panel-toggle" href="#menu-panel" class="button menu icon-prefix icon-menu"><span>Menu</span></a></li>
                    <li><a id="login-panel-toggle" href="#login-panel" class="button alt icon-suffix icon-user login"><span>Account</span></a></li>
                {{else}}
                    <li><a id="login-panel-toggle" href="#login-panel" class="button alt icon-suffix icon-user login"><span>Login</span></a></li>
                {{/if}}
                </ul>
            </div>
        </div>