    <section class="item">
        <div class="container">
            <div class="row">
                <div class="5u 12u(mobile)">
                    <span class="image fit"><img src="/assets/images/lock.png" alt="" /></span>
                </div>
                <div class="7u 12u(mobile)">
                    <h2>VestU Information Policy</h2>
                    <ul class="default">
                        <li>We never sell or share customer information</li>
                        <li>No advertising, pop-ups, or offers</li>
                        <li>No sponsorships, commissions, or partnerships</li>
                        <li>No storage/transmission of personal investment information</li>
                        <li>HTTPS Only and PCI Compliant</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>