{{> header}}
    <article id="main" class="subscribe">
        <header  style="padding:2em">
            <h1>Vestu.com "Passwordless" Login</h1>
            <p>This is an <a href="https://github.com/vestu/login">open source</a> implementation of a passwordless login for <a href="https://vestu.com">vestu.com</a>. In exchange for <a href="https://github.com/vestu/login/issues/new">valid bugs and actionable feedback</a>, we will provide Vestu.com account access.</p>
            <p><a href="/information_policy">VestU.com Information Policy</a></p>
        </header>
        <section class="item" style="padding:2em 0;">
            <div class="container">
                <div class="row">
                    <div class="6u 12u(mobile)">
                        <h2>Register</h2>
                        <form method="post" action="/register">
                            <input type="email" class="fit" name="email" placeholder="Email" />
                            <input type="submit" class="fit" value="Register" />
                        </form>
                    </div>
                    <div class="6u 12u(mobile)">
                        <h2>Login</h2>
                        <form method="post" action="/login">
                            <input type="email" class="fit" name="email" placeholder="Email" />
                            <input type="submit" class="fit" value="Register" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="item" style="padding:2em 0;">
            <div class="container">
                <div class="row">
                    <div class="5u">
                        <span class="image fit"><img src="/assets/images/mission.png" alt="" /></span>
                    </div>
                    <div class="7u skel-cell-important">
                        <h2>Mission</h2>
                        <p>VestU is focused on helping individual investors succeed. We believe that with quality education, self-paced online learning, and unbiased information; we will help many avoid costly investment mistakes and achieve exceptional long term investment results. <a href="https://vestu.com">Learn to invest today.</a></p>
                    </div>
                </div>
            </div>
        </section>
    </article>
{{> footer}}